@import '../../utils/styles/variables'

.root__item_searcher
	display: flex
	align-items: center
	justify-content: center
	height: 10vh
	column-gap: 10px

#mySearch
	width: 70%
	font-size: 18px
	padding: 7px
	border: 1px solid #ddd
	outline: 0
	position: relative

.close
	width: 20px
	height: 20px

.btn-keyboard-toggle
	width: 25px
	height: 25px
	color: $color-success-text

.btn-clear-input
	width: 25px
	height: 25px
	color: $color-danger

