// Colors
$color-tomato: #ff6347
$theme-color: #468996
$color-white: #ffffff
$color-grey: #456
$color-black: #000
$dark-theme: #001628


// Config
$fontsize: 1rem
$font-stack: 'Ubuntu', 'Roboto', serif
$shadows: 0 0 5px rgba($theme-color, 0.5)
$drop-shadow: drop-shadow(10px 10px 10px $dark-theme)
$drop-shadow-hover: drop-shadow(5px 5px 5px $dark-theme)
$box-shadows: 10px 10px 10px rgba($theme-color, 0.4)
$box-shadows-hover: 5px 5px 5px rgba($theme-color, 0.4)
