@import "../../utils/styles/variables"

#root
	width: 98%
	height: 75vh
	grid-area: root
	margin: 0 auto
	display: grid
	gap: 20px
	grid: 'counter map details' 'country map details' 'country map details' 'country map graph' 'date map graph'
	grid-template-columns: 0.3fr 0.5fr 0.3fr
	grid-template-rows: 1fr 3fr 1fr

.root__item
	border: 1px solid rgba($color-grey, .3)
	box-shadow: $box-shadows
	border-radius: 3px
	transition: 0.4s
	cursor: pointer
	background-color: rgba($theme-color, .3)
	position: relative

	&:hover
		box-shadow: $box-shadows-hover

.tables
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: auto 1fr auto
	grid-template-areas: 'tables-header' 'tables-main' 'tables-footer'
	overflow: auto

.tables__header,
.tables__footer
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0 20px

.tables__header
	grid-area: tables-header
	top: 0

.tables__footer
	grid-area: tables-footer
	bottom: 0

.tables__main
	grid-area: tables-main
	overflow: auto

.root__item_counter
	grid-area: counter
	height: 10vh

.root__item_country
	grid-area: country

.root__item_date
	grid-area: date
	height: 10vh

.root__item_map
	grid-area: map
	position: relative
	display: grid
	grid: 'map' 'footer-map'
	grid-template-rows: 11fr 1fr

.root__item_details
	grid-area: details

.root__item_graph
	grid-area: graph
	height: 35vh

@media (max-width: 1279px)
	#root
		height: 100%
		grid: 'map map' 'counter details' 'country details' 'country graph' 'date graph'
		grid-template-rows: 88vh 10vh 33vh 33vh 10vh

	.root__item_graph
		height: auto

@media (max-width: 679px)
	#root
		grid: 'map' 'date' 'counter' 'country' 'details' 'graph'
		grid-template-rows: 88vh 10vh 10vh 71vh 47vh 47vh
