@import "../../utils/styles/variables"

.root__item_country-main
	color: $theme-color
	padding: 0 20px

.countries
	border-bottom: 1px solid $color-grey
	transition: 0.4s
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0

	&:hover
		transform: translate3d(1px, 1px, 10px)

	&:hover > .name__country
		color: $color-tomato

.flags
	width: 1.3rem
	height: 1rem
	filter: $drop-shadow

.name__country,
.data__country
	filter: $drop-shadow
	font-size: 1.1rem
	margin: 8px

.data__country
	color: $dark-theme

.root__item_country-header
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0 20px

.btn__sort_numeric
	margin-right: 0

.btn__sort_alphabet
	margin-left: 30px

.zoom
	zoom: 150%
	color: $color-danger

@media (max-width: 1280px)
	.name__country,
	.data__country
		font-size: 0.9rem
